<div class="sidebar-header">
  <h1>About me</h1>
</div>

<div class="sidebar-icons">
  <span>
    <img src="/assets/github-128-black.png">
    <img src="/assets/tumblr-128-black.png">
    <img src="/assets/linkedin-128-black.png">
  </span>
</div>

<!-- <div class="sidebar-img">
  <img src="/assets/auster.png">
</div> -->


<p class="sidebar-content">
  I'm Auster Chen. I graduated from UCLA in Dec. of 2013 with a B.S. in Chemical Engineering.
  After I switched to programming, I've loved it more and more. I finished App Academy in Dec
  of 2014 and learned the full Ruby on Rails Stack. I've done a couple of bigger projects using
  Ruby on Rails for backend and Backbone.js for frontend. I have a good understanding of Javascript
  and how to use jQuery plugins. My strong points are that I'll get things done and being able to learn
  new technologies and languages fast. Please view my projects and contact me about opportunities. Thank you!
</p>


<div class="sidebar-footer">

</div>
