<div class="sidebar-header">
  <h1>About me</h1>
</div>

<div class="sidebar-icons">
  <span>
    <a href="https://github.com/Teaflavored" target="_blank"><img src="/assets/github-128-black.png"></a>
    <a href="http://idrinkblacktea.tumblr.com/" target="_blank"><img src="/assets/tumblr-128-black.png"></a>
    <a href="https://www.linkedin.com/in/austerchen" target="_blank"><img src="/assets/linkedin-128-black.png"></a>
  </span>
</div>

<!-- <div class="sidebar-img">
  <img src="/assets/auster.png">
</div> -->


<p class="sidebar-content">
  Ever since I started writing code I haven't looked back. I've enjoyed every single moment of creating something I can see and use from lines of code.

  I had exposure to C++ and Matlab throughout college due to my engineering degree, but it wasn't until I graduated that I picked programming with online lectures and thought, "I really love doing this stuff". I had days when I'd look up at the time and realize I've just stayed up till 2 A.M. reading about a concept or trying a new algorithm. I decided to make web development my career then.

  The languages/frameworks I'm currently comfortable with are Ruby, Rails, Javascript, Backbone.js, jQuery, HTML, and CSS. I've built a couple of more complex projects using Ruby on Rails framework, including an AirBnB clone. I have a solid understanding of both backend and frontend MVC frameworks through my use of RoR and Backbone as well as a great understanding of the RESTful architecture and how to use that design to build sites. In my projects, I've also dealt with custom AJAX requests in conjunction with using ActiveRecord/SQL queries to get what I want out of the database.

  Through my time at App Academy, I not only picked up on coding skills, I also spent nearly every day pair programming with other students. I can work very well in a team setting environment due to it.

  If you are looking for a web developer that can solve problems and make beautiful and functional websites , don't hesitate to contact me!
</p>


<div class="sidebar-footer">
  <div class="sidebar-phone-label">Phone:</div>
  <div class="sidebar-email-label">Email:</div>
</div>
