<div class="sidebar-header">
  <h1>About me</h1>
</div>

<div class="sidebar-icons">
  <span>
    <a href="https://github.com/Teaflavored" target="_blank"><img src="/assets/github-128-black.png"></a>
    <a href="http://idrinkblacktea.tumblr.com/" target="_blank"><img src="/assets/tumblr-128-black.png"></a>
    <a href="https://www.linkedin.com/in/austerchen" target="_blank"><img src="/assets/linkedin-128-black.png"></a>
  </span>
</div>

<!-- <div class="sidebar-img">
  <img src="/assets/auster.png">
</div> -->


<p class="sidebar-content">
  Hi! I'm Auster Chen! I'm a web developer at Houzz, working as part of the frontend team.
  I'm into creating beautiful and functional websites as well as tackling difficult problems that may or
  may not be useful to everyone else. ;)

  <br>
  <br>

  I'm always interested in working on fun projects as well as discussing nerdy topics. Contact me for anything!
  <br>
  <span class="sidebar-footer"><img src="/assets/telephone37.png"> (650)-703-9215</span>
</p>


<div class="mail">
  <h3>Send me a Message!</h3>
  <input type="text" class="your-email" placeholder="Your E-mail">
  <textarea class="message" placeholder="Enter Your Message"></textarea>
  <button class="send-msg btn">Send</button>
</div>
