<ul class="my-items">
  <li class="items" data-w="1" data-h="1">
  </li>
  <li class="items" data-w="1" data-h="1">
  </li>
  <li class="items" data-w="1" data-h="1">
  </li>
  <li class="items" data-w="1" data-h="1">
  </li>
  <li class="items" data-w="1" data-h="1">
  </li>
  <li class="items" data-w="4" data-h="3">
  </li>
</ul>
