<ul class="my-items">
  <li class="items active" data-w="1" data-h="1">
    <div class="picture">
      <img src="/assets/pokevisit.png" alt="img1">
    </div>
    <div class="picture desc">
    </div>
  </li>
  <li class="items" data-w="1" data-h="1">

  </li>
  <li class="items" data-w="1" data-h="1">
  </li>
  <li class="items" data-w="1" data-h="1">
  </li>
  <li class="items" data-w="1" data-h="1">
  </li>
  <li class="items" data-w="1" data-h="1">
  </li>
</ul>
