<div id="logo">
  Teaflavored
</div>

<div id="center-pane">
  <div class="main-content"><h1>Web Developer</h1>
    <button class="contact-me btn ">Contact me</button>
    <button class="view-portfolio btn ">View Resume</button>
  </div>
</div>

<div id="links">
  <div class="expand-sidebar">
    <span class="glyphicon glyphicon-align-justify side-bar-open" aria-hidden="true"></span>
  </div>
</div>

<div id="sidebar">
  <div class="sidebar-content">
    
  </div>
</div>

<script src="/assets/float_main_up"></script>
<script src="/assets/sidebar_open"></script>
