<div id="logo">
  Teaflavored
</div>

<div id="center-pane">
  <div class="main-content"><h1>Web Developer</h1>
    <button class="contact-me btn ">Contact me</button>
    <button class="view-portfolio btn ">Portfolio</button>
  </div>
</div>

<div id="portfolio-link">
</div>

<script src="/assets/float_main_up"></script>
