<div id="logo">
  Teaflavored
</div>

<div id="center-pane">
  <div class="main-content"><h1>Web Developer</h1>
    <button class="about-me btn ">About Me</button>
    <button class="view-resume btn ">View Resume</button>
  </div>
</div>

<div id="links">
  <div class="show-portfolio">
    <a href="javascript:void(0)" class="portfolio-link">View Portfolio</a>
  </div>
  <div class="expand-sidebar">
    <span class="glyphicon glyphicon-align-justify side-bar-open" aria-hidden="true"></span>
  </div>
</div>

<div id="sidebar">
  <div class="sidebar-content">
    <%= render "static_pages/my_info"%>
  </div>
</div>

<div id="portfolio-content">
</div>

<script src="/assets/float_main_up"></script>
<script src="/assets/sidebar_open"></script>
