/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require magnific-popup
 *= require sidebar
 *= require static_pages
 *= require portfolio_page
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html{
  height: 100%;
}

body{
  position:relative;
  width:100%;
  background-color:#111118;
  background: url("/assets/bg2.jpg");
  background-repeat:no-repeat;
  background-position: center 0px;
  background-size:cover;
  height:100%;
  overflow:hidden;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}


.blur{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
